# Created by .ignore support plugin (hsz.mobi)
*.class
*.iws
*.log
.DS_Store
.cache
.ensime
.ensime_cache/
.history
.idea
.lib/
.scala_dependencies
.worksheet
/out/
dist/*
fabric.properties
lib_managed/
src_managed/
target
